<html>
	<head>
		{% include "css_js.html" %}
	</head>
	<body style="background-color: lightgrey; margin:40px;">
		{%include "menu.html"%}
<div style="margin-top: 50px">
	<a href ="/logout/" class="pull-right" style="margin-right: 100px;"> <button type="button" class="btn btn-danger">Logout</button></a>
	</div>
	<br><br>
	<b>Welcome {{user}} !!</b>
	<br/><br/>
	<div style="margin-right: 30px">
		<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="80%">
			<thead>
			<th> Name</th>
			<th> Mobile Number</th>
			<th>Landline</th>
			<th>Address</th>
			<th>Relationship</th>
			<th>Edit</th>
			<th>Delete</th>
			</thead>
			<tbody>
			{% for name in contacts %}
		<tr>
				<td align="center">{{name.cname}} </td>
				<td align="center">{{name.cmob}}  </td>
				<td align="center">{{name.cland}}</td>
				<td align="center">{{name.caddress}}</td>
				<td align="center">{{name.relation}}</td>
				<td align="center"><button class='btn btn-inverse btn-xs'><span class='glyphicon glyphicon-edit'></span></button></td>
				<td align="center"><button class='btn btn-inverse btn-xs'><span class='glyphicon glyphicon-remove'></span></button></td>
		</tr>
			{%endfor%}
			</tbody>
		</table>
		</div>
	</body>
			<script type="text/javascript" charset="utf-8">
			var oTable;
			var giRedraw = false;
			$(document).ready(function() {
				oTable = $('#example').dataTable();
				
				var getdata = function(e){
					var id = $(this).html();
					console.log(id);
					$.ajax({
						url:'/editcontact/',
						method :'POST',
						data :{
							name : id,
						},
						success:function(){
							console.log("success");
						},
						error:function(status){
							console.log	(status);
						}
					});
				};
				$("td").on('click',getdata);
			});
			
					</script>

</html>