<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables_themeroller.css"/>
<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/TableTools.min.js"></script>

